@page
@model Project2.Pages.SubmitScheduleModel
@{
}
<h2>Your Appointments</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>Group Name</th>
            <th>Group Size</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        
        <tr>
            <td></td>
        </tr>
        
    </tbody>
</table>